<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
    
<body>

    <form method="POST">
    {% csrf_token %}
        <div class="container">
            <h2>LOGIN</h2>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <a><button class="log-in">Log in</button></a>
            <a href="#">Forgot password?</a>
            <hr>
            <button class="create"><a href="{% url 'signup' %}">Create new account</button></a>
        </div>
    </form>
</body>
</html>

